/*** SMALL NAV ***/

.top-bar {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  text-transform: uppercase;
  background-color: var(--primaryColor);
  color: var(--textColor);
}
.burger:hover{
  cursor: pointer;
}
.right-items{
 height: 70PX;
}
.right-items img{
  height: 100%;
}
.slide-container{
  position: relative;
}
#small-slide{
  display: none;
  position: absolute;
bottom: -100;
z-index: 99999;
  width: 100%;
}
.slide-cat{
  padding: 10px 30px;
  background-color: rgb(44, 43, 43);
  font-weight: bolder;
  text-transform: uppercase; 
}
.slide-cat li{
  padding: 10px 0;
}
.slide-cat a{
   color: var(--textColor);
   text-decoration: none;
}
.slide-cat a:hover{
   color: var(--secondaryColor);
}
.slide-cat ul{
  list-style: none;
  padding: 0;
}
/*** BIG NAV ***/

.big-nav {


  display: none;
  justify-content: center;
  flex-direction: row;
  text-transform: uppercase;
  background-color: var(--primaryColor);
  color: var(--textColor);
}

.liste-nav {
  list-style: none;
  display: inline;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  margin-left: 15px;
  margin-right: 15px;
}

.liste-nav div li {
  display: inline;
  padding: 15px;
  cursor: pointer;
}
.liste-nav a {
  color: var(--textColor);
  text-decoration: none;
  cursor: pointer;
}
.liste-nav a:hover {
  color: var(--secondaryColor);
  text-decoration: none;
}
.big-txt {
  display: none;
}

.left-items{
  display: flex;
  align-items: center;
}

/************************** DESKTOP ********************************/
@media screen and (min-width: 768px) {
  .big-nav {


  display: flex;
}
.small-nav{
  display: none;
}

@media screen and (min-width: 1160px) {
  .big-txt {
    display: inline;
  }
}
