main h4 {
  font-size: 1.5em;
  text-transform: uppercase;
}

/*************************************************/

img {
  width: 100%;
}
#aboutUS-container a {
  color: var(--secondaryColor);
}
#team a,
#reservation-container a {
  color: var(--primaryColor);
}
#team a:hover,
#reservation-container a:hover,
#aboutUS-container a:hover {
  color: var(--textColor);
}
/**************** plats *****************/
#plats-container {
  color: var(--textColor);
  background-color: var(--primaryColor);
}
.gallery {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  object-fit: fill;
  column-gap: 2px;
}
.gallery div img:hover {
  cursor: pointer;
}
.vignette {
  background-color: rgba(0, 0, 0, 0.3);

  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  transition: all 0.22s ease-in-out;

  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
}
.vignette-title {
  padding-bottom: 10px;
}
.vignette-description {
  display: none;
  text-align: center;
}
.img-container {
  position: relative;
  overflow: hidden;
}
.img-container img:hover {
  animation: img-scale 1s ease forwards;
}
.vignette-descr:hover img {
  animation: img-scale 1s ease forwards;
}

/************** reservation **************/
#reservation-container {
  color: var(--textColor);
  background-color: var(--thirdColor);
  padding: 10px 20px;
}
.horaires-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.horaires-form div {
  padding-bottom: 10px;
}
#aboutUS-container a {
  color: var(--secondaryColor);
}
#aboutUS-container a:hover {
  color: var(--textColor);
}
.form > div {
  /*title reservation*/
  text-align: center;
}
form div:last-child {
  text-align: right;
}
.form {
  padding: 0 10px;
  box-shadow: 5px 5px 15px -4px #000000;
  background-color: var(--secondaryColor);
}
/************** about us ******************/

#aboutUS-container {
  background-color: var(--primaryColor);
  padding: 10px 20px;
  text-align: center;
  color: var(--secondaryColor);
}
.toTheTop {
  text-align: right;
  padding: 10px 0;
}
.adresse {
  color: var(--textColor);
}

/************** team ******************/
.title-team {
  text-align: center;
}

#team {
  background-color: var(--thirdColor);
  color: var(--textColor);
  padding: 10px 20px;
}

.team-photo {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: center;
  padding: 10px 20px 50px 20px;
}
figcaption {
  text-align: center;
  font-weight: bold;
  padding-bottom: 10px;
  font-size: 1.2em;
}
.img-team {
  width: 250px;
  height: 200px;
  background-color: var(--primaryColor);
}
#team div {
  overflow: hidden;
}

#team div > img:hover {
  animation: img-scale 1s ease forwards;
}
#social {
  padding: 10px 15%;
  display: flex;
  justify-content: space-between;
}

/******************************* DESKTOP *********************************/
@media screen and (min-width: 768px) {
  /***** PLATS ****/
  #plats-container {
    color: var(--textColor);
  }
  .gallery {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    object-fit: fill;
    column-gap: 2px;
  }
  .img-container:hover .vignette {
    background-color: rgba(0, 0, 0, 0.8);
    height: 45%;
  }
  .img-container:hover .vignette-description {
    display: block;
    padding: 5px;
  }
  /**** RESERVATION ****/
  #reservation-container {
    padding-top: 70px;
  }
  .horaires-form {
    flex-direction: row;
    justify-content: space-around;
  }
  /****** TEAM ****/
  .img-team {
    width: 350px;
    height: 500px;
  }
  .team-photo {
    flex-direction: row;
    justify-content: center;
  }
}

/**** animation ***/
@keyframes img-scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
