:root{
--primaryColor: black;
--secondaryColor: #E39D45;
--textColor: beige;
}
body{
    background-color: var(--primaryColor);
    padding: 0;
    margin: 0;
    color: var(--textColor);
}
img{
    width: 100%;
}
h4{
    font-size: 1.5em;
    text-transform: uppercase; 
}
/****************** NAVIGATION ************/
.burger-menu{
   display: none;
    padding-left: 2px;
}
.liste-nav{  
   list-style: none;
   display: inline;
   display: flex;
justify-content:center;
align-items: center;
}
.logo{
    margin-left: 15px;
    margin-right: 15px;
}
.nav{
width: 100%;
display: flex;
justify-content:center;
flex-direction: row;
text-transform: uppercase;
background-color: var(--primaryColor);
color: var(--textColor);
}
.liste-nav div li{
    display: inline;
    padding: 15px;
    cursor: pointer;
}
.liste-nav a{
color: var(--textColor);
text-decoration:none;
cursor: pointer;
}

.liste-nav a:hover{
    color: var(--secondaryColor);
    text-decoration:none;
    }
/******* END NAV ***/
 /**************** main ********************/
/**************** plats *****************/
#plats-container{
     display: grid;
     grid-template-rows: repeat(2,1fr);
     grid-template-columns: repeat(3,1fr);
          object-fit: fill;
          column-gap: 2px;  
    }
    #plats-container div img:hover{    
        cursor: pointer;
    }
    .vignette{
        background-color: rgba(0, 0, 0, 0.8);
        height: 50px ;
        width: 100%;
        position: absolute;
        bottom:0;
      transition: all 0.22s ease-in-out;
      display: flex;
      justify-content: center;
        align-items: center;
    }
    .img-container{
        position: relative;
        overflow: hidden;
      }
      .img-container img:hover{
        animation: img-scale 1s ease;
        animation-fill-mode: forwards;
      }
      .img-container:hover .vignette{
        background-color: rgba(0, 0, 0, 0.3);
        height: 25%;
        }
/******* end plat **/
/************** reservation **************/
#reservation-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px; 
    background-color: var(--secondaryColor);
}
#reservation-container div{
padding-bottom: 10px ;
}
#aboutUS-container a{
    color: var(--secondaryColor);
}
#aboutUS-container a:hover{
    color: var(--textColor);
}
.separation-reserv{
    width: 2px;
    height: 300px;
    border-right: var(--textColor) solid 1px;
}
/************** about us ******************/
#aboutUS-container{

    background-color: var(--primaryColor);
    padding: 10px 35px;
    text-align: center;
    color: var(--secondaryColor);
 }
 .toTheTop{
     text-align: right;
     padding: 10px 0;
 }
 .adresse{
     color: var(--textColor);
 }

/************************ SOCIAL *********/
#social-container{
    padding: 10px 35px;
    background-color: var(--secondaryColor);
 }
 #social-container a{
    color: var(--textColor);
}
#social-container a:hover{
    color: var(--primaryColor);
}
#team{
    display: flex;
    justify-content: center;
    padding: 10px 20px 15px 20px;
}
figcaption{
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
    font-size: 1.2em;
}
 
#team div{
overflow: hidden;

}

 
#team div>img:hover{
  animation: img-scale 1s ease;

}

#social{
    padding: 10px 30%;
    display:flex;
    justify-content: space-between
}
/******END MAIN*****/

/******************** FOOTER ***************/
/******************************************************************************** FOOTER*/
    footer {
    color: var(--SecondaryColor);
    margin-top: 10px;
    }
    footer a:hover {
      color: var(--secondaryColor);
    }
    footer a {
      color: var(--textColor);
    }
    .footer-container {
      background-color: var(--ActifColor);
      color: var(--BackgroundColor);
      display: flex;
      text-align: center;
      padding: 10px 0;
    }
    .footer-cat {
      width: 25%;
    }
    .C1,
    .C2,
    .C3,
    .C4 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    /* BORDERS */
    .C1,
    .C2,
    .C3 {
      border-right: var(--textColor) solid 1px;
    }
    /*FIX NOS RESEAUX SOCIAUX */
    .C4{
        padding-left: 10px;
    }
    .footer-container ul {
      list-style: none;
      padding: 0;
    }
    .footer-logo {
      padding: 0 10%;
    }
    .C2 ul li {
      padding: 2px;
    }
    .C3 ul li {
      padding-bottom: 10%;
    }
    .copyright {
      text-align: center;
      color: var(--textColor);
      padding: 5px 0;
      font-weight: bolder;
    }
   
    /***************** END FOOTER */


/**** mobile ***/
@media only screen and (max-width: 768px) {
    
    /** FIX **/
    .section{
        padding-left: unset;
    }
    .nav{
      z-index: 999;
      position: absolute;
      width: 48px;
      height: 50px;
      overflow: hidden;
      justify-content:flex-start;
      flex-direction: column;   
   }
   .liste-nav{  
    display: unset;
    display: flex;
   flex-direction: column;
 justify-content:flex-start;
 align-items: unset;
 }
 .logo{
     margin: 0 40px 40px 0;     
}
.liste-nav div li{
    display: block;
    padding: 15px;
}
.mobile{
display: flex;
flex-direction: row;
}
.liste-nav a:hover{
color: var(--primaryColor);
text-decoration:none;
}
.navSelect:hover{
    background-color: var(--secondaryColor);
}
#plats-container{
grid-template-rows: repeat(3,1fr);
grid-template-columns: repeat(2,1fr);
}
#aboutUS-container{
    margin: 0;
    padding: 10px 35px;
}
    .burger-menu{   
        display: block;
    }
    .nav:hover{
        width:250px ;
        height: unset;      
    }
    .nav:hover .burger-menu{
        display: none; 
    }
    #plats-container div img:hover{      
        cursor: pointer;    
    }
    .separation-reserv{
        width: 70%;
        height: 2px;
        border-top: var(--textColor) solid 1px;
        border-right: unset;
    }
    #reservation-container{
        display: flex;
        flex-direction: column;
        align-items: center; 
        padding: 10px 20px;
        background-color: var(--secondaryColor);
    }
.form{
    text-align: center;
}
#team{
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: center;
    padding: 10px 20px 50px 20px;
}
.img-team{
  width: 250px;
  height: 150px;
  background-color: var(--primaryColor);
}
#social{
    padding: 10px 15%;
    display:flex;
    justify-content: space-between
}
/*** FOOTER */
.footer-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 10%;
    min-height: 500px;
  }
  .footer-cat {
    width: 100%;
    min-height: 120px;
  }
  .C1,
  .C2,
  .C3,
  .C4 {
    display: flex;
    justify-content: center;
  }
  .C1,
  .C2,
  .C3 {
    border-right: none;
    border-bottom: var(--textColor) solid 1px;
  }
  
  .footer-logo {
    padding: 10% 0;
  }
  .social {
    flex-direction: row;
  }
  #social-container{
      text-align: center;
  }

}/** end media */


/**** animation ***/
@keyframes img-scale{
  from {
    transform: scale(1);
  }
  to{
      transform: scale(1.2);
  }
}